<div id="handyman_container">

  <div class="top_menu_container">
      <input type="checkbox" id="btn-menu">
      <label for="btn-menu" id="btn-menu-label" onclick><img src="https://cdn4.iconfinder.com/data/icons/basic-ui-elements/700/06_menu_stack-512.png" alt=""></label>
      <span class="top_menu_logo">
        <h4>TOLD HANDYMAN SERVICE</h4>
        <div class="top_menu_logo_hammer"></div>
        <!-- <div class="top_menu_logo_image"></div> -->
      </span>
      <nav class="desktop_menu">
          <a class="link_home" pageScroll href="#handyman_container">HOME</a>
          <a class="link_services" pageScroll href="#mid_services_container">SERVICES</a>
          <a class="link_about" pageScroll href="#mid_about_container">ABOUT</a>
          <a class="link_reviews" pageScroll href="#mid_reviews_container">REVIEWS</a>
          <a class="link_contact" pageScroll href="#bottom_contact_container">CONTACT US</a>
      </nav>
      <nav class="mobile_menu">
          <a class="link_home" pageScroll href="#handyman_container">HOME</a>
          <a class="link_services" pageScroll href="#mid_services_container">SERVICES</a>
          <a class="link_about" pageScroll href="#mid_about_container">ABOUT</a>
          <a class="link_reviews" pageScroll href="#mid_reviews_container">REVIEWS</a>
          <a class="link_contact" pageScroll href="#bottom_contact_container">CONTACT US</a>
      </nav>
      <!-- <span class="top_menu_logo">
    <h4>TOLD HANDYMAN</h4>
  </span> -->
  </div>

<!-- <div style="width: 100%; height: 100px; background: purple;">

</div> -->

<div class="top_title_container">
    <div id="title_handyman"></div>
    <h4 id="title_slogan">"Fast friendly service with a name you can trust"</h4>
</div>

<div class="top_gallery_container">

    <div class="swiper-container" [swiper]="config">
        <!-- <swiper [config]="config"> -->
            <div class="swiper-wrapper">
                <!-- <img class="swiper-slide" *ngFor="let gallery of gallerys" src="../server/uploads/{{gallery.galleryImage}}"> -->
                <div class="swiper-slide slide1"></div>
                <div class="swiper-slide slide2"></div>
                <div class="swiper-slide slide3"></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        <!-- </swiper> -->
    </div>
</div>



<!-- End of top_gallery_container -->
<div class="callUs" [ngClass]="{'callUs2': callUsIsFixed, 'mid_services_container2': callUsIsFixed}">
<!-- <div class="callUs" [class.fixedsticky]="callHandyman"> -->
  <div class="callUs_box"><a href="tel:+18017851889"><strong>CLICK TO CALL US HERE</strong><p>CALL US</p>
    <div class="callUs_box_icon"></div></a></div>
</div>
<!-- Services container breaks at 1355px -->
<div id="mid_services_container" class="mid_services_container mid_services_container2">
    <div class="grid-container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-1"><strong><h1>HANDYMAN SERVICES</h1></strong></div>
            <div class="col-1"></div>
        </div>
        <div class="row row-2">
            <div class="col-2">
                <p>Free Estimates</p>
            </div>
            <div class="col-2">
                <p>Finish Your Fix-it List</p>
            </div>
            <div class="col-2">
                <p>Licensed and Insured</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p></p>
            </div>
            <div class="col-3">
                <p></p>
            </div>
        </div>
        <div class="service_box_container">
          <div class="service_box">
              <div class="service_title"><h4>BATHROOM REMODELS</h4></div>
              <div class="service_title_mobile"><h4>BATHROOM REMODELS</h4></div>
              <div class="service_body">
                  <div class="service_image">
                      <!-- <a class="zoom" (click)="myModal1.open()"> -->
                      <a class="zoom" (click)="openMyModal('myModal1')">
                          <img id="imageService" class="img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/5/56/New-bathroom-design-2017.jpg"></a>
                      <myModal id='myModal1'>
                        <div class="myModal">
                          <div class="myModal-body"><button class="close_service_modal" (click)="closeMyModal('myModal1')">CLOSE</button>
                              <img id="modalImage" class="img-resized" src="https://upload.wikimedia.org/wikipedia/commons/5/56/New-bathroom-design-2017.jpg">
                          </div></div><div class="myModal-background"></div></myModal></div>
                  <!-- <div class="service_text">A handyman is a person who is very good with their hands. Their job description covers a variety of duties
                that involve fixing and repairing of things both indoor and outdoor in their organizations to make them look good.</div> -->
                <div class="service_text">Custom showers, new tub surrounds, toilets, cabinets, exhaust fans, lighting & electrical,
                medicine cabinets, flooring, custom LED lighting.</div>
              </div></div>
              <div class="service_box">
                  <div class="service_title"><h4>RENTAL PROPERTY MAINTENANCE</h4></div>
                  <div class="service_title_mobile"><h4>RENTAL PROPERTY MAINTENANCE</h4></div>
                  <div class="service_body">
                      <div class="service_image">
                          <a class="zoom" (click)="openMyModal('myModal2')">
                              <img id="imageService" class="img-thumbnail" src="https://thumbs.dreamstime.com/b/repair-door-lock-handyman-room-85536869.jpg"></a>
                              <myModal id='myModal2'>
                                <div class="myModal">
                                  <div class="myModal-body"><button class="close_service_modal" (click)="closeMyModal('myModal2')">CLOSE</button>
                                      <img id="modalImage" class="img-resized" src="https://thumbs.dreamstime.com/b/repair-door-lock-handyman-room-85536869.jpg">
                                  </div></div><div class="myModal-background"></div></myModal></div>
                      <div class="service_text">Painting & drywall repair, plumbing repair, heating & cooling systems, furnace filters, windows, blinds,
                       celing fans, flooring, door casings. </div>
                  </div></div>
                  <div class="service_box">
                      <div class="service_title"><h4>DRYWALL REPAIRS</h4></div>
                      <div class="service_title_mobile"><h4>DRYWALL REPAIRS</h4></div>
                      <div class="service_body">
                          <div class="service_image">
                              <a class="zoom" (click)="openMyModal('myModal3')">
                                  <!-- <img id="imageService" class="img-thumbnail" src="https://s-media-cache-ak0.pinimg.com/originals/46/05/98/460598c1f2170daf64208dbc8549ac2c.jpg"></a> -->
                                  <img id="imageService" class="img-thumbnail" src="http://www.publicdomainpictures.net/pictures/70000/velka/unfinished-house.jpg"></a>
                                  <myModal id='myModal3'>
                                    <div class="myModal">
                                      <div class="myModal-body"><button class="close_service_modal" (click)="closeMyModal('myModal3')">CLOSE</button>
                                          <!-- <img id="modalImage" class="img-resized" src="https://s-media-cache-ak0.pinimg.com/originals/46/05/98/460598c1f2170daf64208dbc8549ac2c.jpg"> -->
                                          <img id="modalImage" class="img-resized" src="http://www.publicdomainpictures.net/pictures/70000/velka/unfinished-house.jpg">
                                      </div></div><div class="myModal-background"></div></myModal></div>
                          <div class="service_text">From small hole repairs to large new basement remodels. Full service hanging sheetrock, taping, mudding, texturing ceiling and walls, and painting.</div>
                      </div></div>
                      <div class="service_box">
                          <div class="service_title"><h4>PAINTING</h4></div>
                          <div class="service_title_mobile"><h4><br> PAINTING</h4></div>
                          <div class="service_body">
                              <div class="service_image">
                                  <a class="zoom" (click)="openMyModal('myModal4')">
                                      <img id="imageService" class="img-thumbnail" src="https://s-media-cache-ak0.pinimg.com/originals/40/ad/fb/40adfb3d964c9760307e973639ca300c.jpg"></a>
                                      <myModal id='myModal4'>
                                        <div class="myModal">
                                          <div class="myModal-body"><button class="close_service_modal" (click)="closeMyModal('myModal4')">CLOSE</button>
                                              <img id="modalImage" class="img-resized" src="https://s-media-cache-ak0.pinimg.com/originals/40/ad/fb/40adfb3d964c9760307e973639ca300c.jpg">
                                          </div></div><div class="myModal-background"></div></myModal></div>
                              <div class="service_text">All interior painting for walls & ceilings. Doors, window frames & trims, including exterior. Painting in single colors, two tone and even three color custom colors. </div>
                          </div></div>
                          <div class="service_box">
                              <div class="service_title"><h4>SWAMP COOLER REPAIRS</h4></div>
                              <div class="service_title_mobile"><h4>SWAMP COOLER REPAIRS</h4></div>
                              <div class="service_body">
                                  <div class="service_image">
                                      <a class="zoom" (click)="openMyModal('myModal5')">
                                          <img id="imageService" class="img-thumbnail" src="https://cdn.instructables.com/F7A/J9B3/J2QF72VU/F7AJ9B3J2QF72VU.MEDIUM.jpg"></a>
                                          <myModal id='myModal5'>
                                            <div class="myModal">
                                              <div class="myModal-body"><button class="close_service_modal" (click)="closeMyModal('myModal5')">CLOSE</button>
                                                  <img id="modalImage" class="img-resized" src="https://cdn.instructables.com/F7A/J9B3/J2QF72VU/F7AJ9B3J2QF72VU.MEDIUM.jpg">
                                              </div></div><div class="myModal-background"></div></myModal></div>
                                  <div class="service_text">Repairs and new installations covering: new motors, water pumps, bearings, belts, shafts, squirrel cages, pad replacements.</div>
                              </div></div>
                              <div class="service_box">
                                  <div class="service_title"><h4>HANDYMAN TO DO LISTS</h4></div>
                                  <div class="service_title_mobile"><h4>HANDYMAN TO DO LISTS</h4></div>
                                  <div class="service_body">
                                      <div class="service_image">
                                          <a class="zoom" (click)="openMyModal('myModal6')">
                                              <img id="imageService" class="img-thumbnail" src="http://21243-presscdn.pagely.netdna-cdn.com/wp-content/uploads/2017/01/List-of-the-Best-Home-Repair-in-Dubai.jpg"></a>
                                              <myModal id='myModal6'>
                                                <div class="myModal">
                                                  <div class="myModal-body"><button class="close_service_modal" (click)="closeMyModal('myModal6')">CLOSE</button>
                                                      <img id="modalImage" class="img-resized" src="http://21243-presscdn.pagely.netdna-cdn.com/wp-content/uploads/2017/01/List-of-the-Best-Home-Repair-in-Dubai.jpg">
                                                  </div></div><div class="myModal-background"></div></myModal></div>
                                      <div class="service_text"> Small to large tasks interior & exterior: hanging pictures, mirrors, new light fixtures,
                                      repair appliances, ceiling fans, flooring repair, furniture assembly.</div>
                                  </div></div>
                                  <div class="service_box">
                                      <div class="service_title"><h4>PLUMBING REPAIRS</h4></div>
                                      <div class="service_title_mobile"><h4>PLUMBING REPAIRS</h4></div>
                                      <div class="service_body">
                                          <div class="service_image">
                                              <a class="zoom" (click)="openMyModal('myModal7')">
                                                  <img id="imageService" class="img-thumbnail" src="https://c1.staticflickr.com/7/6039/6307672876_b73164a218_b.jpg"></a>
                                                  <myModal id='myModal7'>
                                                    <div class="myModal">
                                                      <div class="myModal-body"><button class="close_service_modal" (click)="closeMyModal('myModal7')">CLOSE</button>
                                                          <img id="modalImage" class="img-resized" src="https://c1.staticflickr.com/7/6039/6307672876_b73164a218_b.jpg">
                                                      </div></div><div class="myModal-background"></div></myModal></div>
                                          <div class="service_text">New installs and repairs: toilet, faucets, shower & tubs, sinks, hot water heaters.</div>
                                      </div></div>
                                      <div class="service_box">
                                          <div class="service_title"><h4>COMMERCIAL PROPERTY MAINTENANCE</h4></div>
                                          <div class="service_title_mobile"><h4>COMMERCIAL PROPERTY MAINTENANCE</h4></div>
                                          <div class="service_body">
                                              <div class="service_image">
                                                  <a class="zoom" (click)="openMyModal('myModal8')">
                                                      <img id="imageService" class="img-thumbnail" src="http://torontowindowcoverings.com/wp-content/uploads/commercial-solar-shades3.jpg"></a>
                                                      <myModal id='myModal8'>
                                                        <div class="myModal">
                                                          <div class="myModal-body"><button class="close_service_modal" (click)="closeMyModal('myModal8')">CLOSE</button>
                                                              <img id="modalImage" class="img-resized" src="http://torontowindowcoverings.com/wp-content/uploads/commercial-solar-shades3.jpg">
                                                          </div></div><div class="myModal-background"></div></myModal></div>
                                              <div class="service_text">Repairs and new installs: handicap bars, safety equipment, window blinds, handrails,
                                              heating & cooling systems, business machines, hanging signs & banners. </div>
                                          </div></div>
        </div>
    </div>
    <!--This ends the class grid-container -->
    <div class="rowModal service_list_container">
        <button (click)="openMyModal('myListModal')" class="modalButton btn service_list_btn"><p>Full List of Services</p></button>
        <myModal id='myListModal'>
          <div class="myModal">
            <div class="myModal-body">
            <modal-header class="modal_header">
                <h1>Told Handyman Service List</h1>
            </modal-header>
            <modal-content>
                <tbody>
                    <tr>
                        <td>
                            <li>Remodels</li>
                            <li>Home Repairs</li>
                            <li>Kitchen & Bath Remodels</li>
                            <li>Furniture Assembly</li>
                            <li>Safety & Mobility Installations</li>
                            <li>Carpentry</li>
                            <li>Custom Doors</li>
                            <li>Drywall Repairs</li>
                            <li>Painting</li>
                            <li>Repair Decks & Patios</li>
                            <li>Roofing</li>
                            <li>Fencing</li>
                            <li>Yard Projects</li>
                            <li>Swamp Coolers</li>
                            <li>Sprinkler Repairs</li>
                            <li>Home Fix It Lists</li>
                            <li>Garage Floor Epoxy</li>
                            <li>Closet Organization Updates</li>
                            <li>Caulking</li>
                            <li>Furnace Filters</li>
                            <li>Rental Property Maintenance</li>
                            <li>Commercial Property Maintenance</li>
                            <li>Utility Servicing</li>
                            <li>Electrical & Lighting</li>
                            <li>Door Lock Rekeying</li>
                        </td>
                    </tr>
                </tbody>
            </modal-content>
            <modal-footer>
                <button class="close_serviceList_modal" (click)="closeMyModal('myListModal')">close</button>
            </modal-footer>
          </div>
          </div>
          <div class="myModal-background"></div>
        </myModal>
    </div>
</div>
<!-- End of mid_services_container -->
<div id="mid_about_container">
    <div class="about_heading">
        <h3>ABOUT US</h3>
    </div>
    <div class="about_body">
        <div class="about_image"></div>
        <div class="about_text">
            <p>Told Handyman Service is a family owned company, built to satisfy its customers needs. Told Handyman is owned by Dave and Belinda Told, who also own and operate Told Plumbing. The company was born out of seeing a need amongst their customers for more help then just plumbing needs, but not knowing where to turn. So they set out to fill that need with trusted quality workmanship, with a focus on customer satisfaction every time.  </p>
            <h4>Meet Our Handyman</h4>
            <p>Born in Ohio, grew up in California, Marlin started working at the age of 16 in a plastic factory. In 1989 he moved to Utah and started remodeling homes until he got a job with Stouffers as a professional maintenance mechanic, repairing their machines. Four years later he earned his contractors license and helped run an HVAC business. He shifted his specialty back to home repairs after some years, and began doing home warranty repairs for Trophy Homes. Then in 2009 Marlin was approached by Dave Told with a business idea, and he has been the face and life of Told Handyman ever since. Doing everything from home remodels, to doing small repairs and improvements, there’s no job too small for Told Handyman. </p>
            <h4>Told Plumbing</h4>
            <p>Told Plumbing is a family owned business, founded and operated by David and Belinda Told. David and Belinda are 4th generation Pleasant Grove residents. David was raised on the family farm that remains in operation today. Belinda's family
                comes from a long line of successful business owners. David began plumbing in 1980 and has worked all along the Wasatch Front. David and Belinda attribute their success to quality employees and hard work.</p>
        </div>
    </div>
    <div class="about_link">
        <a class="toldPlumbing" href="http://toldplumbing.com/"><p>www.ToldPlumbing.com</p></a>
        <a class="toldPlumbingFacebook" href="https://www.facebook.com/Told-Plumbing-355154127293/"><div></div></a>
    </div>
</div>
<!-- End of mid_about_container -->
<div id="mid_reviews_container">
    <div class="reviews_heading">
        <h2 id="reviews_heading_text">Customer Reviews</h2>
    </div>
    <ul class="tabs" role="tablist">
        <li>
            <input type="radio" name="tabs" id="tab1" checked />
            <label for="tab1" role="tab" aria-selected="true" aria-controls="panel1" tabindex="0"><h4>Scrolling</h4></label>
            <div class="tab-content" id="tab-content1" role="tabpanel" aria-labelledby="Movie Credit Reviews" aria-hidden="false">
                <div class="reviews_credits_container">
                    <div class="reviews_wrapper">
                        <!-- <div class="review_author">
                            <h4>{{review.reviewAuthor}}<p>{{review.reviewLocation}}</p></h4><img class="review_image" *ngIf="review.reviewImage" src="../server/uploads/{{review.reviewImage}}"></div>
                        <div class="work_review">{{review.reviewMessage}}</div> -->
                        <!-- <div class="review_author"><h4>John Doe <p>Provo, UT</p></h4><img class="review_image" src="https://s-media-cache-ak0.pinimg.com/originals/39/05/5f/39055f54c07cb561fd1b6cf43824f6a1.jpg"></div>
        <div class="work_review">"Marlin is awesome. He really knows his stuff. We had a few different things for him, like our new outdoor kitchen, and he was clearly very experienced with all of them. We know who we will be hiring next time we need Handyman services; Marlin!"</div>
        <div class="review_author"><h4>Jane Doe <p>Herriman, UT</p></h4></div>
        <div class="work_review">Works fast and efficiently. Very good handyman. Sticks to his bid.</div>
        <div class="review_author"><h4>Grayson Tarzan <p>Midway, UT</p></h4></div>
        <div class="work_review">Marlin was very prompt, professional and courteous. I would highly recommend him to my friends and plan on using his services again.</div>
        <div class="review_author"><h4>Robin Hood <p>Draper, UT</p></h4></div>
        <div class="work_review">Marlin knew exactly what needed to be done and went to work an fixed it high above my expectations. I would refer Marlin to my friends!</div>
        <div class="review_author"><h4>Jane Tarzan <p>Heber, UT</p></h4><img class="review_image" src="http://www.centraloregongaragedoor.com/wp-content/gallery/gerage-doors/garage-door-custom-barn-2.JPG"></div>
        <div class="work_review">Great guy. Right on time, fast, cleaned up. Great job. I would highly recommend him and will use his services again.</div>
        <div class="review_author"><h4>Gary Smith <p>SLC, UT</p></h4></div>
        <div class="work_review">Marlin is very knowledgeable and was flexible with the stages of the job and worked around other contractors changing timelines.</div>
        <div class="review_author"><h4>Roger Snow <p>Alpine, UT</p></h4></div>
        <div class="work_review">He saved me a lot of money! He was just one of those people that is always there and performed 100% and just a great person to work with! I cant say enough how much money he saved me.</div>
        <div class="review_author"><h4>Mick White <p>Wolf Creek, UT</p></h4></div>
        <div class="work_review">One of the best guys there is!! Top of the line handyman.</div> -->
        <div class="review_author"><h4>Coming Soon </h4></div>
<div class="work_review">"Coming Soon </div>
<div class="review_author"><h4>Coming Soon  </h4></div>
<div class="work_review">Coming Soon </div>
<div class="review_author"><h4>Coming Soon  </h4></div>
<div class="work_review">Coming Soon </div>
<div class="review_author"><h4>Coming Soon </h4></div>
<div class="work_review">Coming Soon </div>
<div class="review_author"><h4>Coming Soon  </h4></div>
<div class="work_review">Coming Soon </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <input type="radio" name="tabs" id="tab2" />
            <label for="tab2" role="tab" aria-selected="false" aria-controls="panel2" tabindex="0"><h4 id="tab-content2-name">Normal View</h4></label>
            <div class="tab-content" id="tab-content2" role="tabpanel" aria-labelledby="normal reviews" aria-hidden="true">
                <div class="reviews_normal_container">
                    <div class="reviews_normal_wrapper">
                        <!-- <div class="review_author">
                            <h4>{{review.reviewAuthor}}<p>{{review.reviewLocation}}</p></h4><img class="review_image" *ngIf="review.reviewImage" src="../server/uploads/{{review.reviewImage}}"></div>
                        <div class="work_review">{{review.reviewMessage}}</div> -->
                        <!-- <div class="review_author"><h4>John Doe <p>Provo, UT</p></h4>
                          <img class="review_image" src="https://s-media-cache-ak0.pinimg.com/originals/39/05/5f/39055f54c07cb561fd1b6cf43824f6a1.jpg"> -->
                          <!-- <a class="zoom" (click)="myModal2.open()">
                              <img id="imageService" class="review_image" src="https://s-media-cache-ak0.pinimg.com/originals/39/05/5f/39055f54c07cb561fd1b6cf43824f6a1.jpg"></a>
                          <modal #myModal2 class="modal_box">
                              <modal-content>
                                  <img id="modalImage" class="img-resized" src="https://s-media-cache-ak0.pinimg.com/originals/39/05/5f/39055f54c07cb561fd1b6cf43824f6a1.jpg">
                              </modal-content></modal> -->
                            <!-- </div>
                        <div class="work_review">"Marlin is awesome. He really knows his stuff. We had a few different things for him, like our new outdoor kitchen, and he was clearly very experienced with all of them. We know who we will be hiring next time we need Handyman services; Marlin!"</div>
                        <div class="review_author"><h4>Jane Doe <p>Herriman, UT</p></h4></div>
                        <div class="work_review">Works fast and efficiently. Very good handyman. Sticks to his bid.</div>
                        <div class="review_author"><h4>Grayson Tarzan <p>Midway, UT</p></h4></div>
                        <div class="work_review">Marlin was very prompt, professional and courteous. I would highly recommend him to my friends and plan on using his services again.</div>
                        <div class="review_author"><h4>Robin Hood <p>Draper, UT</p></h4></div>
                        <div class="work_review">Marlin knew exactly what needed to be done and went to work an fixed it high above my expectations. I would refer Marlin to my friends!</div>
                        <div class="review_author"><h4>Jane Tarzan <p>Heber, UT</p></h4>
                          <img class="review_image" src="http://www.centraloregongaragedoor.com/wp-content/gallery/gerage-doors/garage-door-custom-barn-2.JPG"> -->
                          <!-- <a class="zoom" (click)="myModal2.open()">
                              <img id="imageService" class="review_image" src="http://www.centraloregongaragedoor.com/wp-content/gallery/gerage-doors/garage-door-custom-barn-2.JPG"></a>
                          <modal #myModal2 class="modal_box">
                              <modal-content>
                                  <img id="modalImage" class="img-resized" src="http://www.centraloregongaragedoor.com/wp-content/gallery/gerage-doors/garage-door-custom-barn-2.JPG">
                              </modal-content></modal> -->
                            <!-- </div>
                        <div class="work_review">Great guy. Right on time, fast, cleaned up. Great job. I would highly recommend him and will use his services again.</div>
                        <div class="review_author"><h4>Gary Smith <p>SLC, UT</p></h4></div>
                        <div class="work_review">Marlin is very knowledgeable and was flexible with the stages of the job and worked around other contractors changing timelines.</div>
                        <div class="review_author"><h4>Roger Snow <p>Alpine, UT</p></h4></div>
                        <div class="work_review">He saved me a lot of money! He was just one of those people that is always there and performed 100% and just a great person to work with! I cant say enough how much money he saved me.</div>
                        <div class="review_author"><h4>Mick White <p>Wolf Creek, UT</p></h4></div>
                        <div class="work_review">One of the best guys there is!! Top of the line handyman.</div> -->
                        <div class="review_author"><h4>Coming Soon </h4></div>
                <div class="work_review">"Coming Soon </div>
                <div class="review_author"><h4>Coming Soon  </h4></div>
                <div class="work_review">Coming Soon </div>
                <div class="review_author"><h4>Coming Soon  </h4></div>
                <div class="work_review">Coming Soon </div>
                <div class="review_author"><h4>Coming Soon </h4></div>
                <div class="work_review">Coming Soon </div>
                <div class="review_author"><h4>Coming Soon  </h4></div>
                <div class="work_review">Coming Soon </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<!-- End of mid_reviews_container -->
<div id="bottom_contact_container">


    <button class="modalButton btn myModal_button" (click)="openMyModal('custom-modal-1')">CLICK TO CONTACT US</button>

  <myModal id="custom-modal-1">
<div class="myModal">
    <div class="myModal-body">
      <h1>We Want To Hear From You</h1>
        <form [formGroup]="addContactForm" (ngSubmit)="createContactForm()" id='contact-form'>
            <div>
                <label for="name">
   <span class="required">Name: *</span>
   <input class="form-control" formControlName="contactName" type="text" id="name" name="name" value="" placeholder="Your Name" required="required" tabindex="1" autofocus="autofocus" />
 </label>
            </div>
            <div>
                <label for="email">
   <span class="required">Email: *</span>
   <input class="form-control" formControlName="contactEmail" type="email" id="email" name="email" value="" placeholder="Your Email" tabindex="2" required="required" />
 </label>
            </div>
            <div>
                <label for="phone">
   <span class="required">Phone #: *</span><br>
   <div class="contactPhone_div">
     <p>(area code)  </p><input class="form-control contactPhone_input" formControlName="contactPhone1of3" type=tel name="phone" size=3 maxlength="3" required="required"> -
     <input class="form-control contactPhone_input" formControlName="contactPhone2of3" type=tel name="phone" size=3 maxlength="3" required="required"> -
     <input class="form-control contactPhone_input" formControlName="contactPhone3of3" type=tel name="phone" size=4 maxlength="4" required="required">
   </div>
 </label>
            </div>
            <div>
                <label for="message">
   <span class="required">Message: *</span>
   <textarea class="form-control" formControlName="contactMessage" id="message" name="message" placeholder="Please write your message here." tabindex="6" required="required"></textarea>
 </label>
            </div>
            <div>
                <button name="submit" type="submit" id="submit" [disabled]="!addContactForm.valid" (click)="closeMyModal('custom-modal-1')">SEND</button>
            </div>
        </form>
        <button (click)="closeMyModal('custom-modal-1')">Close</button>
    </div>
</div>
<div class="myModal-background"></div>
</myModal>

  <div class="contact_list">
      <div class="contact_list_box">
      <div class="told_handyman_info">
          <h3>Told Handyman</h3>
          <p><a href="tel:+18017851889"><strong>(801)785-1889</strong></a></p>
          <p>501 S Main St</p>
          <p>Pleasant Grove, UT 84062</p>
      </div>
    </div>
    <div class="contact_list_box">
      <div class="told_plumbing_info">
          <h3>Told Plumbing</h3>
          <p><a href="tel:+18017855559"><strong>(801)785-5559</strong></a></p>
          <p>501 S Main St</p>
          <p>Pleasant Grove, UT 84062</p>
      </div>
    </div>
  </div><br><br>

</div><!-- End of bottom_contact_container -->

<div class="bottom_footer_container">
    <div class="copyright">
        <strong>Copyright 2008 © Told Plumbing. All rights reserved.</strong>
    </div>
</div>
<!-- End of bottom_footer_container -->

</div>
