<div id="handyman_container">

    <div class="top_menu_container">
        <input type="checkbox" id="btn-menu">
        <label for="btn-menu" id="btn-menu-label" onclick><img src="https://cdn4.iconfinder.com/data/icons/basic-ui-elements/700/06_menu_stack-512.png" alt=""></label>
        <span class="top_menu_logo">
          <!-- <h4>TOLD HANDYMAN</h4> -->
          <div class="top_menu_logo_image"></div>
        </span>
        <nav class="desktop_menu">
            <a class="link_home" pageScroll href="#handyman_container">HOME</a>
            <a class="link_services" pageScroll href="#mid_services_container">SERVICES</a>
            <a class="link_about" pageScroll href="#mid_about_container">ABOUT</a>
            <a class="link_reviews" pageScroll href="#mid_reviews_container">REVIEWS</a>
            <a class="link_contact" pageScroll href="#bottom_contact_container">CONTACT US</a>
        </nav>
        <nav class="mobile_menu">
            <a class="link_home" pageScroll href="#handyman_container">HOME</a>
            <a class="link_services" pageScroll href="#mid_services_container">SERVICES</a>
            <a class="link_about" pageScroll href="#mid_about_container">ABOUT</a>
            <a class="link_reviews" pageScroll href="#mid_reviews_container">REVIEWS</a>
            <a class="link_contact" pageScroll href="#bottom_contact_container">CONTACT US</a>
        </nav>
        <!-- <span class="top_menu_logo">
      <h4>TOLD HANDYMAN</h4>
    </span> -->
    </div>
    <div class="top_title_container">
        <div id="title_handyman"></div>
        <h4 id="title_slogan">"Fast friendly service with a name you can trust"</h4>
    </div>
    <div class="top_gallery_container">

        <div class="swiper-container" [swiper]="config">
            <!-- <swiper [config]="config"> -->
                <div class="swiper-wrapper">
                    <!-- <img class="swiper-slide" *ngFor="let gallery of gallerys" src="../server/uploads/{{gallery.galleryImage}}"> -->
                    <div class="swiper-slide slide1"></div>
                    <div class="swiper-slide slide2"></div>
                    <div class="swiper-slide slide3"></div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            <!-- </swiper> -->
        </div>
    </div>
    <!-- End of top_gallery_container -->
    <div class="callUs" [class.fixedsticky]="callHandyman">
        <div class="callUs_box"><a href="tel:+18017851889"><strong>CLICK<br> TO <br> CALL <br> US <br> HERE</strong></a></div>
    </div>
    <!-- Services container breaks at 1355px -->
    <div id="mid_services_container">
        <div class="grid-container">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-1"><strong><h1>HANDYMAN SERVICES</h1></strong></div>
                <div class="col-1"></div>
            </div>
            <div class="row row-2">
                <div class="col-2">
                    <p>Free Estimates</p>
                </div>
                <div class="col-2">
                    <p>Finish Your Fix-it List</p>
                </div>
                <div class="col-2">
                    <p>Licensed and Insured</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p></p>
                </div>
                <div class="col-3">
                    <p></p>
                </div>
            </div>
            <div class="service_box_container">
              <div class="service_box">
                  <div class="service_title"><h4>REMODELS</h4></div>
                  <div class="service_title_mobile"><h4>REMODELS</h4></div>
                  <div class="service_body">
                      <div class="service_image">
                          <a class="zoom" (click)="myModal1.open()">
                              <img id="imageService" class="img-thumbnail" src="http://hkremodel.com/wp-content/gallery/exterior-remodel/exterior-remodel-room-additions-hkc-v3.jpg"></a>
                          <modal #myModal1 class="modal_box service_image_Modal">
                              <modal-content>
                                  <img id="modalImage" class="img-resized" src="http://hkremodel.com/wp-content/gallery/exterior-remodel/exterior-remodel-room-additions-hkc-v3.jpg">
                              </modal-content></modal></div>
                      <div class="service_text">A handyman is a person who is very good with their hands. Their job description covers a variety of duties
                    that involve fixing and repairing of things both indoor and outdoor in their organizations to make them look good.</div>
                  </div></div>
                  <div class="service_box">
                      <div class="service_title"><h4>KITCHEN & BATHS</h4></div>
                      <div class="service_title_mobile"><h4>KITCHEN & BATHS</h4></div>
                      <div class="service_body">
                          <div class="service_image">
                              <a class="zoom" (click)="myModal2.open()">
                                  <img id="imageService" class="img-thumbnail" src="http://i.vimeocdn.com/video/523141124_1280x720.jpg"></a>
                              <modal #myModal2 class="modal_box service_image_Modal">
                                  <modal-content>
                                      <img id="modalImage" class="img-resized" src="http://i.vimeocdn.com/video/523141124_1280x720.jpg">
                                  </modal-content></modal></div>
                          <div class="service_text">A handyman is a person who is very good with their hands. Their job description covers a variety of duties
                        that involve fixing and repairing of things both indoor and outdoor in their organizations to make them look good.</div>
                      </div></div>
                      <div class="service_box">
                          <div class="service_title"><h4>DECKS & PATIOS</h4></div>
                          <div class="service_title_mobile"><h4>DECKS & PATIOS</h4></div>
                          <div class="service_body">
                              <div class="service_image">
                                  <a class="zoom" (click)="myModal3.open()">
                                      <img id="imageService" class="img-thumbnail" src="https://s-media-cache-ak0.pinimg.com/originals/05/0a/a1/050aa1bfd4390f63da02e234454b0da2.jpg"></a>
                                  <modal #myModal3 class="modal_box service_image_Modal">
                                      <modal-content>
                                          <img id="modalImage" class="img-resized" src="https://s-media-cache-ak0.pinimg.com/originals/05/0a/a1/050aa1bfd4390f63da02e234454b0da2.jpg">
                                      </modal-content></modal></div>
                              <div class="service_text">A handyman is a person who is very good with their hands. Their job description covers a variety of duties
                            that involve fixing and repairing of things both indoor and outdoor in their organizations to make them look good.</div>
                          </div></div>
                          <div class="service_box">
                              <div class="service_title"><h4>DRYWALL REPAIR</h4></div>
                              <div class="service_title_mobile"><h4>DRYWALL REPAIR</h4></div>
                              <div class="service_body">
                                  <div class="service_image">
                                      <a class="zoom" (click)="myModal4.open()">
                                          <img id="imageService" class="img-thumbnail" src="https://s-media-cache-ak0.pinimg.com/originals/46/05/98/460598c1f2170daf64208dbc8549ac2c.jpg"></a>
                                      <modal #myModal4 class="modal_box service_image_Modal">
                                          <modal-content>
                                              <img id="modalImage" class="img-resized" src="https://s-media-cache-ak0.pinimg.com/originals/46/05/98/460598c1f2170daf64208dbc8549ac2c.jpg">
                                          </modal-content></modal></div>
                                  <div class="service_text">A handyman is a person who is very good with their hands. Their job description covers a variety of duties
                                that involve fixing and repairing of things both indoor and outdoor in their organizations to make them look good.</div>
                              </div></div>
                              <div class="service_box">
                                  <div class="service_title"><h4>CUSTOM WALK-IN CLOSETS</h4></div>
                                  <div class="service_title_mobile"><h4>CUSTOM WALK-IN CLOSETS</h4></div>
                                  <div class="service_body">
                                      <div class="service_image">
                                          <a class="zoom" (click)="myModal5.open()">
                                              <img id="imageService" class="img-thumbnail" src="http://hgtvhome.sndimg.com/content/dam/images/hgrm/fullset/2011/9/13/8/RX-Press-Kits_Wellborn-Cabinets-closet-island_s4x3.jpg.rend.hgtvcom.1280.960.jpeg"></a>
                                          <modal #myModal5 class="modal_box service_image_Modal">
                                              <modal-content>
                                                  <img id="modalImage" class="img-resized" src="http://hgtvhome.sndimg.com/content/dam/images/hgrm/fullset/2011/9/13/8/RX-Press-Kits_Wellborn-Cabinets-closet-island_s4x3.jpg.rend.hgtvcom.1280.960.jpeg">
                                              </modal-content></modal></div>
                                      <div class="service_text">A handyman is a person who is very good with their hands. Their job description covers a variety of duties
                                    that involve fixing and repairing of things both indoor and outdoor in their organizations to make them look good.</div>
                                  </div></div>
                                  <div class="service_box">
                                      <div class="service_title"><h4>CUSTOM DOORS</h4></div>
                                      <div class="service_title_mobile"><h4>CUSTOM DOORS</h4></div>
                                      <div class="service_body">
                                          <div class="service_image">
                                              <a class="zoom" (click)="myModal6.open()">
                                                  <img id="imageService" class="img-thumbnail" src="https://img1.etsystatic.com/032/0/8403700/il_fullxfull.567254271_miof.jpg"></a>
                                              <modal #myModal6 class="modal_box service_image_Modal">
                                                  <modal-content>
                                                      <img id="modalImage" class="img-resized" src="https://img1.etsystatic.com/032/0/8403700/il_fullxfull.567254271_miof.jpg">
                                                  </modal-content></modal></div>
                                          <div class="service_text">A handyman is a person who is very good with their hands. Their job description covers a variety of duties
                                        that involve fixing and repairing of things both indoor and outdoor in their organizations to make them look good.</div>
                                      </div></div>
                                      <div class="service_box">
                                          <div class="service_title"><h4>HOME TO DO LISTS</h4></div>
                                          <div class="service_title_mobile"><h4>HOME TO DO LISTS</h4></div>
                                          <div class="service_body">
                                              <div class="service_image">
                                                  <a class="zoom" (click)="myModal7.open()">
                                                      <img id="imageService" class="img-thumbnail" src="http://21243-presscdn.pagely.netdna-cdn.com/wp-content/uploads/2017/01/List-of-the-Best-Home-Repair-in-Dubai.jpg"></a>
                                                  <modal #myModal7 class="modal_box service_image_Modal">
                                                      <modal-content>
                                                          <img id="modalImage" class="img-resized" src="http://21243-presscdn.pagely.netdna-cdn.com/wp-content/uploads/2017/01/List-of-the-Best-Home-Repair-in-Dubai.jpg">
                                                      </modal-content></modal></div>
                                              <div class="service_text">A handyman is a person who is very good with their hands. Their job description covers a variety of duties
                                            that involve fixing and repairing of things both indoor and outdoor in their organizations to make them look good.</div>
                                          </div></div>
                                          <div class="service_box">
                                              <div class="service_title"><h4>PAINTING</h4></div>
                                              <div class="service_title_mobile"><h4>PAINTING</h4></div>
                                              <div class="service_body">
                                                  <div class="service_image">
                                                      <a class="zoom" (click)="myModal8.open()">
                                                          <img id="imageService" class="img-thumbnail" src="https://s-media-cache-ak0.pinimg.com/originals/40/ad/fb/40adfb3d964c9760307e973639ca300c.jpg"></a>
                                                      <modal #myModal8 class="modal_box service_image_Modal">
                                                          <modal-content>
                                                              <img id="modalImage" class="img-resized" src="https://s-media-cache-ak0.pinimg.com/originals/40/ad/fb/40adfb3d964c9760307e973639ca300c.jpg">
                                                          </modal-content></modal></div>
                                                  <div class="service_text">A handyman is a person who is very good with their hands. Their job description covers a variety of duties
                                                that involve fixing and repairing of things both indoor and outdoor in their organizations to make them look good.</div>
                                              </div></div>
            </div>
        </div>
        <!--This ends the class grid-container -->
        <div class="rowModal">
            <button (click)="myListModal.open()" class="modalButton btn service_list_btn"><p>Full List of Services</p></button>
            <modal #myListModal class="modal_box">
                <modal-header class="modal_header">
                    <h1>Told Handyman Service List</h1>
                </modal-header>
                <modal-content>
                    <tbody>
                        <tr>
                            <td>
                                <li>Remodels</li>
                                <li>Home Repairs</li>
                                <li>Kitchen & Bath Remodels</li>
                                <li>Custom Doors</li>
                                <li>Drywall Repairs</li>
                                <li>Painting</li>
                                <li>Custom Decks & Patios</li>
                                <li>Roofing</li>
                                <li>Fencing</li>
                                <li>Yard Projects</li>
                                <li>Swamp Coolers</li>
                                <li>Sprinkler Repairs</li>
                                <li>Home Fix It Lists</li>
                                <li>Garage Floor Epoxy</li>
                                <li>Closet Organization</li>
                                <li>Caulking</li>
                                <li>Furnace Filters</li>
                                <li>Property Maintenace</li>
                                <li>Utility Servicing</li>
                                <li>Electrical & Lighting</li>
                            </td>
                        </tr>
                    </tbody>
                </modal-content>
                <modal-footer>
                    <button class="btn btn-primary" (click)="myListModal.close()">close</button>
                </modal-footer>
            </modal>
        </div>
    </div>
    <!-- End of mid_services_container -->
    <div id="mid_about_container">
        <div class="about_heading">
            <h3>ABOUT US</h3>
        </div>
        <div class="about_body">
            <div class="about_image"></div>
            <div class="about_text">
                <p>Told Plumbing is a family owned business, founded and operated by David and Belinda Told. David and Belinda are 4th generation Pleasant Grove residents. David was raised on the family farm that remains in operation today. Belinda's family
                    comes from a long line of successful business owners. David began plumbing in 1980 and has worked all along the Wasatch Front. David and Belinda attribute their success to quality employees and hard work.</p>
                <p>Told Plumbing is a family owned business, founded and operated by David and Belinda Told. David and Belinda are 4th generation Pleasant Grove residents. David was raised on the family farm that remains in operation today. Belinda's family
                    comes from a long line of successful business owners. David began plumbing in 1980 and has worked all along the Wasatch Front. David and Belinda attribute their success to quality employees and hard work.</p>
                <p>Told Plumbing is a family owned business, founded and operated by David and Belinda Told. David and Belinda are 4th generation Pleasant Grove residents. David was raised on the family farm that remains in operation today. Belinda's family
                    comes from a long line of successful business owners. David began plumbing in 1980 and has worked all along the Wasatch Front. David and Belinda attribute their success to quality employees and hard work.</p>
                <p>Told Plumbing is a family owned business, founded and operated by David and Belinda Told. David and Belinda are 4th generation Pleasant Grove residents. David was raised on the family farm that remains in operation today. Belinda's family
                    comes from a long line of successful business owners. David began plumbing in 1980 and has worked all along the Wasatch Front. David and Belinda attribute their success to quality employees and hard work.</p>
            </div>
        </div>
        <div class="about_link">
            <a class="toldPlumbing" href="http://toldplumbing.com/">Told Plumbing</a>
            <a class="toldPlumbingFacebook" href="https://www.facebook.com/Told-Plumbing-355154127293/">Told Plumbing Facebook</a>
        </div>
    </div>
    <!-- End of mid_about_container -->
    <div id="mid_reviews_container">
        <div class="reviews_heading">
            <h2 id="reviews_heading_text">Customer Reviews</h2>
        </div>
        <ul class="tabs" role="tablist">
            <li>
                <input type="radio" name="tabs" id="tab1" checked />
                <label for="tab1" role="tab" aria-selected="true" aria-controls="panel1" tabindex="0"><h4>Scrolling</h4></label>
                <div class="tab-content" id="tab-content1" role="tabpanel" aria-labelledby="Movie Credit Reviews" aria-hidden="false">
                    <div class="reviews_credits_container">
                        <div class="reviews_wrapper">
                            <!-- <div class="review_author">
                                <h4>{{review.reviewAuthor}}<p>{{review.reviewLocation}}</p></h4><img class="review_image" *ngIf="review.reviewImage" src="../server/uploads/{{review.reviewImage}}"></div>
                            <div class="work_review">{{review.reviewMessage}}</div> -->
                            <div class="review_author"><h4>John Doe <p>Provo, UT</p></h4><img class="review_image" src="https://s-media-cache-ak0.pinimg.com/originals/39/05/5f/39055f54c07cb561fd1b6cf43824f6a1.jpg"></div>
            <div class="work_review">"Marlin is awesome. He really knows his stuff. We had a few different things for him, like our new outdoor kitchen, and he was clearly very experienced with all of them. We know who we will be hiring next time we need Handyman services; Marlin!"</div>
            <div class="review_author"><h4>Jane Doe <p>Herriman, UT</p></h4></div>
            <div class="work_review">Works fast and efficiently. Very good handyman. Sticks to his bid.</div>
            <div class="review_author"><h4>Grayson Tarzan <p>Midway, UT</p></h4></div>
            <div class="work_review">Marlin was very prompt, professional and courteous. I would highly recommend him to my friends and plan on using his services again.</div>
            <div class="review_author"><h4>Robin Hood <p>Draper, UT</p></h4></div>
            <div class="work_review">Marlin knew exactly what needed to be done and went to work an fixed it high above my expectations. I would refer Marlin to my friends!</div>
            <div class="review_author"><h4>Jane Tarzan <p>Heber, UT</p></h4><img class="review_image" src="http://www.centraloregongaragedoor.com/wp-content/gallery/gerage-doors/garage-door-custom-barn-2.JPG"></div>
            <div class="work_review">Great guy. Right on time, fast, cleaned up. Great job. I would highly recommend him and will use his services again.</div>
            <div class="review_author"><h4>Gary Smith <p>SLC, UT</p></h4></div>
            <div class="work_review">Marlin is very knowledgeable and was flexible with the stages of the job and worked around other contractors changing timelines.</div>
            <div class="review_author"><h4>Roger Snow <p>Alpine, UT</p></h4></div>
            <div class="work_review">He saved me a lot of money! He was just one of those people that is always there and performed 100% and just a great person to work with! I cant say enough how much money he saved me.</div>
            <div class="review_author"><h4>Mick White <p>Wolf Creek, UT</p></h4></div>
            <div class="work_review">One of the best guys there is!! Top of the line handyman.</div>

                        </div>
                    </div>
                </div>
            </li>
            <li>
                <input type="radio" name="tabs" id="tab2" />
                <label for="tab2" role="tab" aria-selected="false" aria-controls="panel2" tabindex="0"><h4 id="tab-content2-name">Normal View</h4></label>
                <div class="tab-content" id="tab-content2" role="tabpanel" aria-labelledby="normal reviews" aria-hidden="true">
                    <div class="reviews_normal_container">
                        <div class="reviews_normal_wrapper">
                            <!-- <div class="review_author">
                                <h4>{{review.reviewAuthor}}<p>{{review.reviewLocation}}</p></h4><img class="review_image" *ngIf="review.reviewImage" src="../server/uploads/{{review.reviewImage}}"></div>
                            <div class="work_review">{{review.reviewMessage}}</div> -->
                            <div class="review_author"><h4>John Doe <p>Provo, UT</p></h4>
                              <img class="review_image" src="https://s-media-cache-ak0.pinimg.com/originals/39/05/5f/39055f54c07cb561fd1b6cf43824f6a1.jpg">
                              <!-- <a class="zoom" (click)="myModal2.open()">
                                  <img id="imageService" class="review_image" src="https://s-media-cache-ak0.pinimg.com/originals/39/05/5f/39055f54c07cb561fd1b6cf43824f6a1.jpg"></a>
                              <modal #myModal2 class="modal_box">
                                  <modal-content>
                                      <img id="modalImage" class="img-resized" src="https://s-media-cache-ak0.pinimg.com/originals/39/05/5f/39055f54c07cb561fd1b6cf43824f6a1.jpg">
                                  </modal-content></modal> -->
                                </div>
                            <div class="work_review">"Marlin is awesome. He really knows his stuff. We had a few different things for him, like our new outdoor kitchen, and he was clearly very experienced with all of them. We know who we will be hiring next time we need Handyman services; Marlin!"</div>
                            <div class="review_author"><h4>Jane Doe <p>Herriman, UT</p></h4></div>
                            <div class="work_review">Works fast and efficiently. Very good handyman. Sticks to his bid.</div>
                            <div class="review_author"><h4>Grayson Tarzan <p>Midway, UT</p></h4></div>
                            <div class="work_review">Marlin was very prompt, professional and courteous. I would highly recommend him to my friends and plan on using his services again.</div>
                            <div class="review_author"><h4>Robin Hood <p>Draper, UT</p></h4></div>
                            <div class="work_review">Marlin knew exactly what needed to be done and went to work an fixed it high above my expectations. I would refer Marlin to my friends!</div>
                            <div class="review_author"><h4>Jane Tarzan <p>Heber, UT</p></h4>
                              <img class="review_image" src="http://www.centraloregongaragedoor.com/wp-content/gallery/gerage-doors/garage-door-custom-barn-2.JPG">
                              <!-- <a class="zoom" (click)="myModal2.open()">
                                  <img id="imageService" class="review_image" src="http://www.centraloregongaragedoor.com/wp-content/gallery/gerage-doors/garage-door-custom-barn-2.JPG"></a>
                              <modal #myModal2 class="modal_box">
                                  <modal-content>
                                      <img id="modalImage" class="img-resized" src="http://www.centraloregongaragedoor.com/wp-content/gallery/gerage-doors/garage-door-custom-barn-2.JPG">
                                  </modal-content></modal> -->
                                </div>
                            <div class="work_review">Great guy. Right on time, fast, cleaned up. Great job. I would highly recommend him and will use his services again.</div>
                            <div class="review_author"><h4>Gary Smith <p>SLC, UT</p></h4></div>
                            <div class="work_review">Marlin is very knowledgeable and was flexible with the stages of the job and worked around other contractors changing timelines.</div>
                            <div class="review_author"><h4>Roger Snow <p>Alpine, UT</p></h4></div>
                            <div class="work_review">He saved me a lot of money! He was just one of those people that is always there and performed 100% and just a great person to work with! I cant say enough how much money he saved me.</div>
                            <div class="review_author"><h4>Mick White <p>Wolf Creek, UT</p></h4></div>
                            <div class="work_review">One of the best guys there is!! Top of the line handyman.</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- End of mid_reviews_container -->
    <div id="bottom_contact_container">

      <!-- <div class="myModal_button"> -->
        <button class="modalButton btn myModal_button" (click)="openMyModal('custom-modal-1')">CLICK TO CONTACT US</button>
      <!-- </div> -->
      <myModal id="custom-modal-1">
    <div class="myModal">
        <div class="myModal-body">
            <h1>We Want To Hear From You</h1>
            <form [formGroup]="addContactForm" (ngSubmit)="createContactForm()" id='contact-form'>
                <div>
                    <label for="name">
       <span class="required">Name: *</span>
       <input class="form-control" formControlName="contactName" type="text" id="name" name="name" value="" placeholder="Your Name" required="required" tabindex="1" autofocus="autofocus" />
     </label>
                </div>
                <div>
                    <label for="email">
       <span class="required">Email: *</span>
       <input class="form-control" formControlName="contactEmail" type="email" id="email" name="email" value="" placeholder="Your Email" tabindex="2" required="required" />
     </label>
                </div>
                <div>
                    <label for="phone">
       <span class="required">Phone #: *</span><br>
       <div class="contactPhone_div">
         <p>(area code)  </p><input class="form-control contactPhone_input" formControlName="contactPhone1of3" type=tel name="phone" size=3 maxlength="3" required="required"> -
         <input class="form-control contactPhone_input" formControlName="contactPhone2of3" type=tel name="phone" size=3 maxlength="3" required="required"> -
         <input class="form-control contactPhone_input" formControlName="contactPhone3of3" type=tel name="phone" size=4 maxlength="4" required="required">
       </div>
     </label>
                </div>
                <div>
                    <label for="message">
       <span class="required">Message: *</span>
       <textarea class="form-control" formControlName="contactMessage" id="message" name="message" placeholder="Please write your message here." tabindex="6" required="required"></textarea>
     </label>
                </div>
                <div>
                    <button name="submit" type="submit" id="submit" [disabled]="!addContactForm.valid" (click)="closeMyModal('custom-modal-1')">SEND</button>
                </div>
            </form>
            <button (click)="closeMyModal('custom-modal-1')">Close</button>
        </div>
    </div>
    <div class="myModal-background"></div>
</myModal>

      <div class="contact_list">
          <div class="contact_list_box">
          <div class="told_handyman_info">
              <h3>Told Handyman</h3>
              <p><a href="tel:+18017851889"><strong>(801)785-1889</strong></a></p>
              <p>501 S Main St</p>
              <p>Pleasant Grove, UT 84062</p>
          </div>
        </div>
        <div class="contact_list_box">
          <div class="told_plumbing_info">
              <h3>Told Plumbing</h3>
              <p><a href="tel:+18017855559"><strong>(801)785-5559</strong></a></p>
              <p>501 S Main St</p>
              <p>Pleasant Grove, UT 84062</p>
          </div>
        </div>
      </div><br><br>

        <!-- <div class="rowModal contactForm_Box">
            <button (click)="mycontact.open()" class="modalButton btn"><p>CLICK TO CONTACT US</p></button>
            <modal #mycontact class="modal_box">
                <modal-header id="modal_header_contactForm">
                    <h1>We Want To Hear From You</h1>
                </modal-header>
                <modal-content>
                    <form [formGroup]="addContactForm" (ngSubmit)="createContactForm()" id='contact-form'>
                        <div>
                            <label for="name">
               <span class="required">Name: *</span>
               <input class="form-control" formControlName="contactName" type="text" id="name" name="name" value="" placeholder="Your Name" required="required" tabindex="1" autofocus="autofocus" />
             </label>
                        </div>
                        <div>
                            <label for="email">
               <span class="required">Email: *</span>
               <input class="form-control" formControlName="contactEmail" type="email" id="email" name="email" value="" placeholder="Your Email" tabindex="2" required="required" />
             </label>
                        </div>
                        <div>
                            <label for="phone">
               <span class="required">Phone #: *</span><br>
               <div class="contactPhone_div">
                 <p>(area code)  </p><input class="form-control contactPhone_input" formControlName="contactPhone1of3" type=tel name="phone" size=3 maxlength="3" required="required"> -
                 <input class="form-control contactPhone_input" formControlName="contactPhone2of3" type=tel name="phone" size=3 maxlength="3" required="required"> -
                 <input class="form-control contactPhone_input" formControlName="contactPhone3of3" type=tel name="phone" size=4 maxlength="4" required="required">
               </div>
             </label>
                        </div>
                        <div>
                            <label for="message">
               <span class="required">Message: *</span>
               <textarea class="form-control" formControlName="contactMessage" id="message" name="message" placeholder="Please write your message here." tabindex="6" required="required"></textarea>
             </label>
                        </div>
                        <div>
                            <button name="submit" type="submit" id="submit" [disabled]="!addContactForm.valid" (click)="mycontact.close()">SEND</button>
                        </div>
                    </form>
                </modal-content>
                <modal-footer>
                    <button class="btn btn-primary" (click)="mycontact.close()">cancel</button>
                </modal-footer>
            </modal>
          </div> -->

    </div><!-- End of bottom_contact_container -->

    <div class="bottom_footer_container">
        <div class="copyright">
            <strong>Copyright 2008 © Told Plumbing. All rights reserved.</strong>
        </div>
    </div>
    <!-- End of bottom_footer_container -->

</div>
