.admin_reviews_container {
  width: 100vw;
  height: 50vh;
  border-top: 2px solid black;
  background: linear-gradient(grey, white);
  /*background-color: green;*/
}

.review_card {
  width: 80vw;
  margin: 0 0 0 10vw;
}
