.top_menu_container {
  width: 100vw;
  height: 6%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  background-color: #fff;
  display: flex;
  border-bottom: 1px rgb(180, 21, 17) solid;
}
@media (min-device-width: 768px) {
  .top_menu_container {
    height: 3.5%;
    /*border: 3px solid lawngreen;*/
  }
}
@media (min-device-width: 1024px) {
  .top_menu_container {
    height: 5%;
  }
}
@media (orientation: landscape) and (max-device-height: 375px) {
  .top_menu_container {
    height: 10%;
  }
}
@media (orientation: landscape) and (max-device-height: 480px) {
  .top_menu_container {
    height: 10%;
  }
}


#btn-menu-label {
  display: block;
  /*margin: -10% 0 0 6px;*/
  margin: 0 0 0 -17%;
  width: 30px;
  height: 30px;
  padding: 0;
  /*border-right: 1px solid #fff;*/
  /*border: 3px solid lawngreen;*/
}
#btn-menu-label:hover {
  cursor: pointer;
}
@media (min-device-width: 360px) {
  #btn-menu-label {
    margin: 1% 0 0 -17%;
  }
}
@media (min-device-width: 414px) {
  #btn-menu-label {
    margin: 1.5% 0 0 -13%;
  }
}
@media (min-device-width: 768px) {
  #btn-menu-label {
    margin: 0 0 0 -7%;
  }
}
@media (min-device-width: 1024px) {
  #btn-menu-label {
    display: none;
  }
}

#btn-menu-label img {
  width: 30px;
  height: 30px;
  margin: 0 0 0 0;
  /*border: 1px solid pink;*/
  background-size: cover;
}

#btn-menu {
  width: 60px;
  height: 30px;
  visibility: hidden;
}

#btn-menu:checked ~ .mobile_menu {
  margin: 0;
}
@media (min-device-width: 1024px) {
  #btn-menu {
    display: none;
  }
}

#btn-menu:checked ~ .top_menu_logo {
  display: none;
  transition: all 0.3s;
}
#btn-menu:checked ~ .mobile_menu {
  margin: 0 0 0 10%;
  transition: all 0.3s;
}

.top_menu_container a {
  text-decoration: none;
  color: rgb(180, 21, 17);
}
.top_menu_container a:hover {
  cursor: pointer;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

.desktop_menu {
  width: 80vw;
  display: none;
}
@media (min-device-width: 768px) {
  .desktop_menu {
    width: 70vw;
    /*border: 3px solid red;*/
    padding: 0;
    margin: 0 30vw 0 0;
  }
}
@media (min-device-width: 1024px) {
  .desktop_menu {
    width: 50vw;
    height: 100%;
    display: block;
    text-align: left;
    /*margin: -30vw 0 0 60vw;*/
    margin: 5px 0 0 20%;
    /*padding: 7px 0 0 0;*/
    font-weight: 600;
    /*border: 3px solid pink;*/
    /*background-color: purple;*/
  }
  /*.desktop_menu a {
    padding: 25% 0 0 0;
  }*/
}

.mobile_menu {
  width: 70%;
  position: absolute;
  text-align: center;
  padding: 0 0 0 0;
  margin: -30px 0 0 -90%;
  font-size: 80%;
  /*border: 2px solid purple;*/
}
@media (min-device-width: 768px) {
  .mobile_menu {
    height: 100%;
    font-size: 100%;
  }
}
@media (min-device-width: 1024px) {
  .mobile_menu {
    display: none;
  }
}

.top_menu_logo {
  width: 70%;
  height: 100%;
  color: rgb(180, 21, 17);
  /*font-style: italic;*/
  /*font-weight: 600;*/
  display: inline-flex;
  margin: 0 0 0 15%;
  /*border: 2px solid blue;*/
}
.top_menu_logo h4 {
  width: 80%;
  font-size: 80%;
  margin: 5% 0 0 0;
  /*border: 1px solid purple;*/
}
@media (min-device-width: 375px){
  .top_menu_logo {
    width: 80%;
    height: 100%;
    color: rgb(180, 21, 17);
    display: inline-flex;
    margin: 0 0 0 15%;
  }
  .top_menu_logo h4 {
    width: 70%;
    margin: 5% 0 0 0;
  }
}
@media (min-device-width: 414px){
  .top_menu_logo {
    width: 80%;
    height: 100%;
    margin: 0 0 0 20%;
  }
  .top_menu_logo h4 {
    width: 65%;
    margin: 5% 0 0 0;
  }
}
@media (min-device-width: 768px) {
  .top_menu_logo {
    width: 65%;
    margin: 0 0 0 30%;
  }
  .top_menu_logo h4 {
    width: 55%;
    margin: 2% 0 0 0;
    font-size: 120%;
  }
}
@media (min-device-width: 1024px) {
  .top_menu_logo {
    width: 55%;
    height: 100%;
    margin: 0 0 0 5vw;
    padding: 0 0 0 0;
  }
  .top_menu_logo h4 {
    height: 100%;
    margin: 1% 0 0 0;
  }
}
@media (orientation: landscape) and (max-device-height: 375px) {
  .top_menu_logo {
    margin: -37px 0 0 37vw;
  }
}
@media (orientation: landscape) and (max-device-height: 480px) {
  .top_menu_logo {
    margin: -37px 0 0 37vw;
  }
}

.top_menu_logo_hammer {
  width: 11%;
  height: 80%;
  background-image: url('../../images/told-handyman-logo-hammer.png');
  background-size: cover;
  margin: 5px 0 0 -2%;
  /*border: 3px solid lawngreen;*/
}
@media (min-device-width: 360px){
  .top_menu_logo_hammer {
    width: 11%;
    height: 80%;
    margin: 5px 0 0 -12%;
  }
}
@media (min-device-width: 375px){
  .top_menu_logo_hammer {
    width: 7%;
    height: 60%;
    margin: 7px 0 0 -11%;
  }
}
@media (min-device-width: 414px){
  .top_menu_logo_hammer {
    width: 6%;
    height: 45%;
    margin: 8px 0 0 -20px;
  }
}
@media (min-device-width: 768px) {
  .top_menu_logo_hammer {
    width: 5%;
    height: 80%;
    margin: 0 0 0 -10px;
  }
}
@media (min-device-width: 1024px) {
  .top_menu_logo_hammer {
    width: 4.5%;
  }
}

.top_menu_logo_image {
  width: 100%;
  height: 100%;
  background-image: url("../../images/told-handyman-logo-copy.png");
  background-size: cover;
}
@media (min-device-width: 768px) {
  .top_menu_logo_image {
    /*height: 80%;*/
    /*background-size: cover;*/
  }
}
@media (min-device-width: 1024px) {
  .top_menu_logo_image {
    /*background-size: cover;*/
  }
}
