.top_menu_container {
  width: 100%;
  height: 6%;
  position: fixed;
  /*left: 0;*/
  top: 0;
  z-index: 3;
  /*background: linear-gradient(to top, rgb(180, 21, 17), grey);*/
  background: linear-gradient(to bottom, #a90329 31%,#840002 71%);
  display: flex;
  /*border: 2px solid lawngreen;*/
  /*border-bottom: 1px #fff solid;*/
  border-bottom: 1px grey solid;
}
@media (min-width: 360px) {
  .top_menu_container {
    /*border: 3px solid lawngreen;*/
    left: 0;
  }
}
@media (min-width: 375px) {
  .top_menu_container {
    /*width: 375px;*/
  }
}
@media (min-width: 414px) {
  .top_menu_container {
    /*width: 414px;*/
  }
}
@media (min-width: 460px) {
  .top_menu_container {
    /*width: 460px;*/
  }
}
@media (min-width: 500px) {
  .top_menu_container {
    /*width: 500px;*/
  }
}
@media (min-width: 550px) {
  .top_menu_container {
    /*width: 550px;*/
  }
}
@media (min-width: 600px) {
  .top_menu_container {
    /*width: 600px;*/
  }
}
@media (min-width: 650px) {
  .top_menu_container {
    /*width: 650px;*/
  }
}
@media (min-width: 700px) {
  .top_menu_container {
    /*width: 700px;*/
  }
}
@media (min-width: 768px) {
  .top_menu_container {
    /*width: 768px;*/
    height: 3.5%;
    /*border: 3px solid lawngreen;*/
  }
}
@media (min-width: 1024px) {
  .top_menu_container {
    /*width: 1024px;*/
    height: 5%;
  }
}
@media (min-width: 1200px) {
  .top_menu_container {
    /*width: 1200px;*/
  }
}
@media (min-width: 1265px) {
  .top_menu_container {
    /*width: 1265px;*/
  }
}
@media (orientation: landscape) and (max-device-height: 375px) {
  .top_menu_container {
    height: 10%;
  }
}
@media (orientation: landscape) and (max-device-height: 480px) {
  .top_menu_container {
    height: 10%;
  }
}


#btn-menu-label {
  display: block;
  /*margin: -10% 0 0 6px;*/
  margin: 1% 0 0 -17%;
  width: 30px;
  height: 30px;
  padding: 0;
  /*border-right: 1px solid #fff;*/
  /*border: 3px solid lawngreen;*/
}
#btn-menu-label:hover {
  cursor: pointer;
}
@media (min-width: 360px) {
  #btn-menu-label {
    margin: 1% 0 0 -16%;
  }
}
@media (min-width: 375px) {
  #btn-menu-label {
    margin: 1% 0 0 -15%;
  }
}
@media (min-width: 414px) {
  #btn-menu-label {
    margin: 1.5% 0 0 -12%;
  }
}
@media (min-width: 768px) {
  #btn-menu-label {
    margin: 0.5% 0 0 -7%;
  }
}
@media (min-width: 1024px) {
  #btn-menu-label {
    display: none;
  }
}

/*mobile phones in landscape mode.*/
@media (min-width: 568px) and (min-height: 320px){
  #btn-menu-label {
    margin: 0.3% 0 0 -7%;
  }
}

#btn-menu-label img {
  width: 30px;
  height: 30px;
  margin: 0 0 0 0;
  /*border: 1px solid pink;*/
  background-size: cover;
}

#btn-menu {
  width: 60px;
  height: 30px;
  visibility: hidden;
}

#btn-menu:checked ~ .mobile_menu {
  margin: 0;
}
@media (min-width: 1024px) {
  #btn-menu {
    display: none;
  }
}

#btn-menu:checked ~ .top_menu_logo {
  display: none;
  transition: all 0.3s;
}
#btn-menu:checked ~ .mobile_menu {
  margin: 0 0 0 10%;
  transition: all 0.3s;
}

.top_menu_container a {
  text-decoration: none;
  color: #fff;
}
.top_menu_container a:hover {
  cursor: pointer;
  color: rgb(180, 21, 17);
  /*background-color: rgba(0, 0, 0, 0.3);*/
  background-color: #fff;
}

.desktop_menu {
  width: 80%;
  display: none;
}
@media (min-width: 768px) {
  .desktop_menu {
    width: 70%;
    /*border: 3px solid red;*/
    padding: 0;
    margin: 0 30vw 0 0;
  }
}
@media (min-width: 1024px) {
  .desktop_menu {
    width: 50%;
    height: 100%;
    display: block;
    text-align: left;
    /*margin: -30vw 0 0 60vw;*/
    margin: 5px 0 0 20%;
    /*padding: 7px 0 0 0;*/
    font-weight: 600;
    /*border: 3px solid pink;*/
    /*background-color: purple;*/
  }
  /*.desktop_menu a {
    padding: 25% 0 0 0;
  }*/
}

.mobile_menu {
  width: 70%;
  position: absolute;
  text-align: center;
  padding: 0 0 0 0;
  margin: -30px 0 0 -90%;
  font-size: 80%;
  /*border: 2px solid purple;*/
}
@media (min-width: 768px) {
  .mobile_menu {
    height: 100%;
    font-size: 100%;
  }
}
@media (min-width: 1024px) {
  .mobile_menu {
    display: none;
  }
}

.top_menu_logo {
  width: 70%;
  height: 100%;
  color: #fff;
  /*font-style: italic;*/
  /*font-weight: 600;*/
  display: inline-flex;
  margin: 0 0 0 15%;
  /*display: none;*/
  /*border: 2px solid blue;*/
}
.top_menu_logo h4 {
  width: 80%;
  font-size: 80%;
  margin: 5% 0 0 0;
  /*display: none;*/
  /*border: 1px solid purple;*/
}
@media (min-width: 375px){
  .top_menu_logo {
    width: 80%;
    height: 100%;
    /*color: rgb(180, 21, 17);*/
    display: inline-flex;
    margin: 0 0 0 15%;
  }
  .top_menu_logo h4 {
    width: 70%;
    margin: 5% 0 0 0;
  }
}
@media (min-width: 414px){
  .top_menu_logo {
    width: 80%;
    height: 100%;
    margin: 0 0 0 20%;
  }
  .top_menu_logo h4 {
    width: 65%;
    margin: 5% 0 0 0;
  }
}
@media (min-width: 768px) {
  .top_menu_logo {
    width: 65%;
    margin: 0 0 0 30%;
  }
  .top_menu_logo h4 {
    width: 55%;
    margin: 2% 0 0 0;
    font-size: 120%;
  }
}
@media (min-width: 1024px) {
  .top_menu_logo {
    width: 55%;
    height: 100%;
    margin: 0 0 0 5%;
    padding: 0 0 0 0;
  }
  .top_menu_logo h4 {
    height: 100%;
    margin: 1% 0 0 0;
  }
}

/*mobile phones in landscape mode.*/
@media only screen
  and (max-width: 568px)
  and (orientation: landscape){
  .top_menu_logo {
    /*border: 3px solid lawngreen;*/
    /*margin: 0.3% 0 0 -7%;*/
  }
  .top_menu_logo h4 {
    margin: 1.5% 0 0 10%;
    /*border: 1px solid blue;*/
  }
  .top_menu_logo_hammer {
    height: 80%;
    margin: 0 0 0 -100%;
    /*border: 1px solid white;*/
  }
}
/*@media (orientation: landscape) and (max-device-height: 375px) {
  .top_menu_logo {
    margin: -37px 0 0 37vw;
  }
}
@media (orientation: landscape) and (max-device-height: 480px) {
  .top_menu_logo {
    margin: -37px 0 0 37vw;
  }
}*/

.top_menu_logo_hammer {
  width: 11%;
  height: 80%;
  background-image: url('../../images/told-handyman-logo-hammer.png');
  /*background-image: url('../../images/told_menu_logo3.png');*/
  background-size: cover;
  margin: 5px 0 0 -2%;
  /*border: 3px solid lawngreen;*/
}
@media (min-width: 360px){
  .top_menu_logo_hammer {
    width: 11%;
    height: 80%;
    margin: 5px 0 0 -12%;
  }
}
@media (min-width: 375px){
  .top_menu_logo_hammer {
    width: 7%;
    height: 60%;
    margin: 7px 0 0 -11%;
  }
}
@media (min-width: 414px){
  .top_menu_logo_hammer {
    width: 6%;
    height: 45%;
    margin: 8px 0 0 -20px;
  }
}
@media (min-width: 768px) {
  .top_menu_logo_hammer {
    width: 5%;
    height: 80%;
    margin: 0 0 0 -10px;
  }
}
@media (min-width: 1024px) {
  .top_menu_logo_hammer {
    width: 4.5%;
  }
}

.top_menu_logo_image {
  width: 100%;
  height: 100%;
  background-image: url("../../images/told-handyman-logo-copy.png");
  background-size: cover;
}
@media (min-width: 768px) {
  .top_menu_logo_image {
    /*height: 80%;*/
    /*background-size: cover;*/
  }
}
@media (min-width: 1024px) {
  .top_menu_logo_image {
    /*background-size: cover;*/
  }
}
