.top_menu_container {
  width: 100%;
  height: 6%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  background-color: #fff;
  border-bottom: 1px rgb(180, 21, 17) solid;
}
@media (min-device-width: 768px) {
  .top_menu_container {
    height: 3.5%;
  }
}
@media (min-device-width: 1024px) {
  .top_menu_container {
    height: 5%;
  }
}
@media (orientation: landscape) and (max-device-height: 375px) {
  .top_menu_container {
    height: 10%;
  }
}
@media (orientation: landscape) and (max-device-height: 480px) {
  .top_menu_container {
    height: 10%;
  }
}


#btn-menu-label {
  display: block;
  margin: 2px 0 0 6px;
}
#btn-menu-label:hover {
  cursor: pointer;
}
@media (min-device-width: 1024px) {
  #btn-menu-label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
  }
}

#btn-menu-label img {
  width: 30px;
  height: 30px;
  margin: -35px 0 0 0;
  background-size: cover;
}

#btn-menu {
  width: 60px;
  height: 30px;
  visibility: hidden;
}

#btn-menu:checked ~ .mobile_menu {
  margin: 0;
}
@media (min-device-width: 1024px) {
  #btn-menu {
    display: none;
  }
}

#btn-menu:checked ~ .top_menu_logo {
  display: none;
  transition: all 0.3s;
}
#btn-menu:checked ~ .mobile_menu {
  margin: -28px 0 0 10%;
  transition: all 0.3s;
}

.top_menu_container a {
  text-decoration: none;
  color: rgb(180, 21, 17);
}
.top_menu_container a:hover {
  cursor: pointer;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

.desktop_menu {
  display: none;
}
@media (min-device-width: 1024px) {
  .desktop_menu {
    display: block;
    text-align: right;
    margin: 0 10vw 0 0;
    padding: 7px 0 0 0;
  }
}

.mobile_menu {
  width: 70%;
  position: absolute;
  text-align: center;
  padding: 0 0 0 0;
  margin: -30px 0 0 -90%;
  font-size: 80%;
}
@media (min-device-width: 1024px) {
  .mobile_menu {
    display: none;
  }
}

.top_menu_logo {
  width: 70%;
  color: rgb(180, 21, 17);
  font-style: italic;
  font-weight: 600;
  display: inline-block;
  margin: -40px 0 0 25%;
}
@media (min-device-width: 768px) {
  .top_menu_logo {
    margin: -37px 0 0 35%;
  }
}
@media (min-device-width: 1024px) {
  .top_menu_logo {
    width: 25vw;
    margin: -30px 0 0 5vw;
    padding: 0 0 0 0;
  }
}
@media (orientation: landscape) and (max-device-height: 375px) {
  .top_menu_logo {
    margin: -37px 0 0 37vw;
  }
}
@media (orientation: landscape) and (max-device-height: 480px) {
  .top_menu_logo {
    margin: -37px 0 0 37vw;
  }
}
