.top_gallery_container {
  width: 100vw;
  height: 70vh;
  margin: 11% 0 0 0;
  background-color: #fff;
  border-bottom: 5px white solid;
  z-index: 1;
}
@media (orientation: landscape) {
  .top_gallery_container{
    height: 80vh;
    margin: 5.5% 0 0 0;
  }
}
@media (min-device-width: 768px) {
  .top_gallery_container {
    width: 100vw;
    height: 70vh;
    margin: 5% 0 0 0;
  }
}
@media (min-device-width: 1024px) {
  .top_gallery_container {
    width: 100%;
    height: 95vh;
  }
}
@media (orientation: landscape) and (min-device-height: 420px) {
  .top_gallery_container {
    height: 90vh;
    margin: 4.5% 0 0 0;
  }
}
@media (orientation: landscape) and (min-device-height: 650px) {
  .top_gallery_container {
    height: 95vh;
    margin: -2.5% 0 0 0;
  }
}
@media (orientation: landscape) and (min-device-height: 768px) and (min-device-width: 1024px) {
  .top_gallery_container {
    height: 90vh;
    margin: 2% 0 0 0;
  }
}
/*@media (orientation: landscape) and (max-device-height: 1024px) {
  .top_gallery_container {
    margin: 2% 0 0 0;
  }
}*/

swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
    width: auto;
    height: 100%;
    text-align: center;
    font: bold 18px/1 sans-serif;
    background: #f0f0f0;
    background-size: 100%;
    align-items: center;
    cursor: pointer;
}

.slide1 {
  background-image: url('http://rebarn.ca/wp-content/uploads/2015/04/IMG_0695.jpg');
  background-size: cover;
}

.slide2 {
  background-image: url('http://www.contractortalk.com/attachments/f50/317738d1466823282-lake-livingston-custom-deck-image.jpg');
  background-size: cover;
}

.slide3 {
  background-image: url('http://southshoreconstructioninc.com/wp-content/uploads/2013/03/159389568.jpg');
  background-size: cover;
}
