#mid_services_container {
  width: 100vw;
  height: 137vh;
  padding: 0 0 0 0;
  margin: -140px 0 0 0;
  background-color: #fff;
  color: #000;
  border-bottom: 5px #000 solid;
}
@media (min-device-width: 768px) {
  #mid_services_container {
    height: 75vh;
    margin: -8vh 0 3vh 0;
  }
}
@media (min-device-width: 1024px) {
  #mid_services_container {
    width: 100%;
    height: 140vh;
    margin: -22vh 0 3vh 0;
  }
}
@media (min-device-width: 1350px) {
  #mid_services_container {
    height: 140vh;
    margin-bottom: 3vh;
  }
}
@media (orientation: landscape) {
  #mid_services_container {
    height: 175vh;
    margin: -22vh 0 0 0;
  }
}
@media (orientation: landscape) and (min-device-height: 375px) {
  #mid_services_container {
    height: 165vh;
    /*margin: -50vh 0 0 0;*/
    margin: -17vh 0 0 0;
  }
}
@media (orientation: landscape) and (min-device-height: 414px) {
  #mid_services_container {
    height: 143vh;
    /*margin: -50vh 0 0 0;*/
    margin: -19vh 0 0 0;
  }
}
@media (min-device-width: 1800px) and (min-device-height: 800px) {
  #mid_services_container {
    margin: -15vh 0 0 0;
  }
}


.callUs {
  width: 30px;
  height: 75px;
  top: 60;
  position: sticky;
  margin: 0 0 0 -5px;
  padding: 0;
  z-index: 3;
}
@media (min-device-width: 1024px) {
  .callUs {
    width: 50px;
    height: 150px;
  }
}

.callUs_box {
  width: 100%;
  height: 100%;
  padding: 10px 0 0 0;
  margin: 0 0 0 3px;
  background: rgb(180, 21, 17);
  color: white;
  text-align: center;
  word-wrap: break-word;
  border-radius: 5px;
}
.callUs_box strong {
  margin: 0;
  font-size: 60%;
}
@media (min-device-width: 1024px) {
  .callUs_box strong {
    font-size: 110%;
  }
}
.callUs_box a {
  color: #fff
}

.grid-container {
  width: 100vw;
  height: auto;
  margin: 22% 0 0 0;
}
@media (min-device-width: 768px) {
  .grid-container {
    margin: 0 0 0 0;
  }
}
@media (min-device-width: 1024px) {
  .grid-container {
    margin: 0 0 0 0;
  }
}
@media (orientation: landscape) and (max-device-height: 414px) {
  .grid-container {
    margin: 10vh 0 0 0;
  }
}

.row {
  display: flex;
}

.services_row {
  flex-flow: column wrap;
}
@media (min-device-width: 1024px) {
  .services_row {
    flex-flow: row;
  }
}

[class*='col-']{
  flex: 1;
  padding: .1em;
  margin: .1em;
  background-color: rgba(180, 21, 17, 0);
}

[class*='col-'] > p {
 padding: 0;
 margin: 0;
 text-align: center;
 color: #000;
}

.col-1 {
  height: 8vh;
  background-color: rgba(180, 21, 17, 0);
  margin: -7% 0 0 0;
}
@media (min-device-width: 768px) {
  .col-1 {
    margin: 0 0 0 0;
  }
}
@media (min-device-width: 1024px) {
  .col-1 {
    margin: 0;
  }
}

.col-1 h1 {
  text-align: center;
  font-size: 170%;
  font-style: italic;
  color: rgb(180, 21, 17);
  font-weight: bolder;
}
@media (min-device-width: 1024px) {
  .col-1 h1 {
    font-size: 200%;
  }
}
@media (orientation: landscape) and (max-device-height: 375px) {
  .col-1 h1 {
    margin: 0 0 0 0;
  }
}


.col-2 {
  height: 3vh;
  background-color: rgba(180, 21, 17, 0);
  margin: 5% 0 -15% 0;
  word-wrap: break-word;
  display: none;
}

@media (min-device-width: 768px) and (max-device-height: 1024px) {
  .col-2 {
    display: inline;
    margin: -1vh 0 2vh 0;
    font-size: 200%;
  }
}
@media (min-device-width: 1024px) {
  .col-2 {
    font-size: 100%;
    margin: 5px 0 2vh 0;
    display: inline;
  }
}
.col-2 p {
  font-size: 70%;
  margin: 0 0 0 0;
  padding: 0;
}
@media (min-device-width: 1024px) {
  .col-2 p {
    font-size: 150%;
    margin: 0;
    padding: 0;
  }
}

.col-3 {
  height: 5vh;
}


@media (min-device-width: 768px) {
  .service_box_container {
    margin: -6vh 0 0 0;
  }
}
@media (min-device-width: 1350px) {
  .service_box_container {
    margin: 0 0 0 5vw;
  }
}

.service_box {
  width: 35vw;
  height: 25vh;
  display: inline-block;
  margin: 10px 0 10px 10vw;
  box-shadow: 0 6px 20px black;
}
@media (min-device-width: 768px) {
  .service_box {
    width: 40vw;
    height: 12vh;
    margin: 10px 0 10px 6vw;
  }
}
@media (min-device-width: 1024px) {
  .service_box {
    width: 40vw;
    height: 25vh;
    margin: 10px 0 10px 6vw;
  }
}
@media (orientation: landscape) and (max-device-height: 375px) {
  .service_box {
    width: 40vw;
    height: 30vh;
    margin: 10px 0 10px 40px;
  }
}
@media (min-device-width: 1800px) and (min-device-height: 800px) {
  .service_box {
    margin: 10px 0 10px 4vw;
  }
}

.service_title {
  width: 100%;
  height: 10%;
  text-align: center;
  margin: 0 0 0 0;
  color: rgb(180, 21, 17);
  display: none;
}
@media (min-device-width: 1024px) {
  .service_title {
    display: block;
  }
}

.service_title_mobile {
  width: 100%;
  height: 10%;
  text-align: center;
  margin: 0 0 0 0;
  color: rgb(180, 21, 17);
}
@media (min-device-width: 1024px) {
  .service_title_mobile {
    display: none;
    height: 10%;
  }
}
.service_title_mobile h4 {
  font-size: 80%;
}
@@media (min-device-width: 1024px) {
  .service_title h4 {
    font-size:  2em;
  }
}


.service_body {
  width: 100%;
  height: 90%;
  overflow: hidden;
}
@media (min-device-width: 1024px) {
  .service_body {

  }
}

.service_image {
  width: 45%;
  height: 40%;
  float: right;
  margin: 0 0 0 2px;
}
@media (min-device-width: 768px) {
  .service_image {
    height: 80%;
  }
}
@media (min-device-width: 1024px) {
  .service_image {
    width: 35%;
    height: 80%;
    margin: 10px 10px 2px 10px;
  }
}
@media (orientation: landscape) and (max-device-height: 375px) {
  .service_image {
    height: 60%;
    margin: 10px 0 0 2px;
  }
}

#imageService {
width: 100%;
height: 100%;
}

.zoom {
  width: 90%;
  height: 60%;
}

.zoom:hover {
  cursor: pointer;
}

.zoom:hover #imageService {
  transform: scale(1.3);
   -ms-transform: scale(1.3);
   -webkit-transform: scale(1.3);
   -o-transform: scale(1.3);
   -moz-transform: scale(1.3);
}

span.overlay {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0;
    transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -webkit-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
}

.zoom:hover span.overlay {
    display: block;
    visibility: visible;
    opacity: 0.55;
    -moz-opacity: 0.55;
    -webkit-opacity: 0.55;
    filter: alpha(opacity=65);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
}

.zoom:hover span.overlay i {
    position: absolute;
    top: 45%;
    left: 0%;
    width: 100%;
    font-size: 2.25em;
    color: #fff !important;
    text-align: center;
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    filter: alpha(opacity=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}

.service_text {
  width: 100%;
  height: 100%;
  margin: 10px 0 0 5px;
  font-size: 50%;
  word-wrap: normal;
}
@media (min-device-width: 1024px) {
  .service_text {
    font-size: 100%;
    margin: 10px 0 0 10px;
  }
}
@media (orientation: landscape) and (max-device-height: 375px) {
  .service_text {
    font-size: 50%;
    margin: 5px 0 5px 5px;
  }
}

.col-4 {
  text-align: center;
}
#services {
  width: 80vw;
  border-top: 2px #000 solid;
}
@media (min-device-width: 1024px) {
  #services {
    border: none;
    padding-bottom: 1.5em;
  }
}

.modal_box {
  width: 100px;
  height: 100px;
}

#modalImage {
  height: auto;
  width: 100%;
}

modal-header {
  background-color: grey;
  color: blue;
}

.modalButton {
  background: rgb(180, 21, 17);
  color: white;
  box-shadow: 0 6px 20px black;
}
.modalButton:hover p{
  font-size: 110%;
  color: #000;
  transition: all 0.2s ease-in-out;
}

.service_list_btn {
  font-size: 80%;
  height: 30px;
  margin: 20px 0 0 33%;
}

@media (min-device-width: 768px) {
  .service_list_btn {
    margin: 20px 0 0 41%;
  }
}
@media (min-device-width: 1024px) {
  .service_list_btn {
    font-size: 100%;
    height: 40px;
    margin: 20px 0 0 45%;
  }
}
@media (min-device-width: 1350px) {
  .service_list_btn {
    margin: 20px 0 0 46%;
  }
}
@media (orientation: landscape) {
  .service_list_btn {
    margin: 10px 0 0 38%;
  }
}

@media (orientation: landscape) and (min-device-height: 414px) {
  .service_list_btn {
    margin: 20px 0 0 41%;
  }
}
@media (orientation: landscape) and (min-device-height: 650px) {
  .service_list_btn {
    margin: 20px 0 0 43%;
  }
}
@media (min-device-width: 1800px) and (min-device-height: 800px) {
  .service_list_btn {
    margin: 20px 0 0 48%;
  }
}
