#bottom_contact_container {
  width: 100vw;
  height: 50vh;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border-bottom: 5px white solid;
  display: inline-block;
}
@media (min-device-width: 1024px) {
  #bottom_contact_container {
    height: 40%;
    display: flex;
  }
}
@media (orientation: landscape) {
  #bottom_contact_container {
    height: 60vh;
  }
}
@media (orientation: landscape) and (min-device-width: 1024px) {
  #bottom_contact_container {
    height: 40%;
    display: flex;
  }
}

.myModal_button {
  height: 7vh;
  font-style: italic;
  margin: 5vh 5vw 0 25vw;
}
@media (min-device-width: 1024px) {
  .myModal_button {
    margin: 12vh 10vw 0 10vw;
  }
}

myModal {
  display: none;
}

myModal .myModal {
  /* modal container fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index must be higher than .modal-background */
  z-index: 1000;

  /* enables scrolling for tall modals */
  overflow: auto;
}

myModal .myModal .myModal-body {
  padding: 20px;
  background: #fff;
  /* margin exposes part of the modal background */
  margin: 40px;
}

myModal .myModal-background {
  /* modal background fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* semi-transparent black  */
  background-color: #000;
  opacity: 0.75;

  /* z-index must be below .modal and above everything else  */
  z-index: 4;
}


body .myModal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}

.contact_list {
  width: 80vw;
  height: 25vh;
  display: flex;
  font-size: 90%;
  /*border: 3px solid purple;*/
  margin: 5vh 0 0 10vw;
}
@media (min-device-width: 1024px) {
  .contact_list {
    display: flex;
    font-size: 100%;
    margin: 5vh 0 0 0;
  }
}

.contact_list h3 {
  font-style: italic;
  color: rgb(180, 21, 17);
  font-weight: bolder;
  font-size: 100%;
}
@media (min-device-width: 1024px) {
  .contact_list h3 {
    font-size: 120%;
  }
}

.contact_list_box {
  width: 30vw;
  height: 20vh;
  padding: 0;
  margin: 0 20px 0 20px;
  /*border: 2px solid hotpink;*/
}
@media (min-device-width: 1024px) {
  .contact_list_box {
    width: 20vw;
    height: 20vh;
    margin: 0 20px 0 20px;
  }
}

.told_handyman_info {
  /*float: left;*/
  /*margin: 10vh 0 0 0;
  padding: 6vh 10vw 0 0;*/
}
@media (min-device-width: 1024px) {
  .told_handyman_info {
    /*float: left;
    margin: 0 0 0 10vw;
    padding: 6vh 10vw 0 0;*/
  }
}

.told_plumbing_info {
  /*float: right;*/
  /*margin: 0 40vw 0 0;*/
  /*padding: 6vh 0 0 0;*/
}
@media (min-device-width: 1024px) {
  .told_plumbing_info {
    /*float: right;
    margin: 0 20vw 0 0;*/
  }
}

#contact-form input,
#contact-form select,
#contact-form textarea,
#contact-form label {
   font-size: 15px;
   margin-bottom: 2px;
   font-family: Arial, san-serif;
}
/*#contact-form input,*/
#contact-form select,
#contact-form textarea {
   width:100%;
   background: rgba(154, 154, 154,0.3);
   border: 0;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   margin-bottom: 5px;
   padding: 5px;
}
#contact-form span {
  margin-left: 5px 0 5px 0;
}

#contact-form input{
  background: rgba(154, 154, 154,0.3);
}

.contactPhone_div {
  display: inline-flex;
  padding: 10px 0 0 0;
}

.contactPhone_input {
  /*border: 3px solid purple;*/
  margin: 0 5px 0 5px;
  padding: 0;
  /*flex-flow: column wrap;*/
  /*width: 20%;*/
}
#contact-form p {
  font-size: 70%;
}
/*#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus {
   background-color: #E5E6E7;
}*/
#contact-form textarea {
   width:100%;
   height: 150px;
}
#contact-form button[type="submit"] {
   cursor:pointer;
   width:100%;
   border:none;
   background:rgb(180, 21, 17);
   background-image:linear-gradient(bottom, rgb(159, 34, 34) 0%, rgb(180, 21, 17) 52%);
   background-image:-moz-linear-gradient(bottom, rgb(159, 34, 34) 0%, rgb(180, 21, 17) 52%);
   background-image:-webkit-linear-gradient(bottom, rgb(159, 34, 34) 0%, rgb(180, 21, 17) 52%);
   color:#FFF;
   margin:0 0 5px;
   padding:10px;
   border-radius:5px;
}
#contact-form button[type="submit"]:hover {
   background-image:linear-gradient(bottom, rgb(25, 93, 184) 0%, rgb(46, 80, 184) 52%);
   background-image:-moz-linear-gradient(bottom, rgb(25, 93, 184) 0%, rgb(46, 80, 184) 52%);
   background-image:-webkit-linear-gradient(bottom,rgb(25, 93, 184)  0%, rgb(46, 80, 184) 52%);
   -webkit-transition:background 0.3s ease-in-out;
   -moz-transition:background 0.3s ease-in-out;
   transition:background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
   box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
input:required, textarea:required {
   box-shadow: none;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
}
#contact-form .required {
   font-weight:bold;
   color: rgb(180, 21, 17);
}

/* Hide success/failure message
   (especially since the php is missing) */
#failure, #success {
   color: #6EA070;
   display:none;
}

/* Make form look nice on smaller screens */
@media only screen and (max-width: 580px) {
   #contact-form{
      left: 3%;
      margin-right: 3%;
      width: 88%;
      margin-left: 0;
      padding-left: 3%;
      padding-right: 3%;
   }
}
